@{
    ViewData["Title"] = "List Perbaikan";
    Layout = "_AdminTemplate";
}

<div class="card">
    <div class="card-body">
        <h1>Riwayat Perbaikan</h1>

        @*table*@
        <table class="table" id="table_perbaikan">
            <thead>
                <tr>
                    <th>No</th>
                    <th>
                        Aset
                    </th>
                    <th>
                        Peminjam
                    </th>
                    <th>
                        Kerusakan
                    </th>
                    <th>
                        Biaya
                    </th>
                    <th>
                        Jumlah
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Tgl Terima
                    </th>
                    <th>
                        Tgl Selesai
                    </th>
                    <th>
                        Aksi
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@*modal*@
<div class="modal fade" id="perbaikanModal" tabindex="-1" aria-labelledby="perbaikanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terima Pengajuan Perbaikan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="id_perbaikan">
                    <input type="hidden" value="0" id="barang_id">
                    <input type="hidden" value="0" id="karyawan_id">
                    <input type="hidden" value="0" id="tanggal_terima">
                    <input type="hidden" value="0" id="jumlah">
                    <input type="hidden" value="0" id="status">

                    <div class="form-group">
                        <label for="keterangan">Kerusakan</label>
                        <input type="text" class="form-control" id="keterangan">
                        <span class="text-danger text-sm-left" id="errorKeterangan"></span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_selesai">Tanggal Selesai</label>
                        <input type="date" class="form-control" id="tanggal_selesai">
                        <span class="text-danger text-sm-left" id="errorTanggal_selesai"></span>
                    </div>
                    <div class="form-group">
                        <label for="biaya">Biaya</label>
                        <input type="number" class="form-control" id="biaya" min="0">
                        <span class="text-danger text-sm-left" id="errorBiaya"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Update()">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/perbaikan/admin.js"></script>
}
