
@{
    ViewData["Title"] = "Riwayat Peminjaman";
    Layout = "_StaffTemplate";
}

<div class="card">
    <div class="card-body">
        <h3>Riwayat Peminjaman</h3>

        <p>
            <a class="btn btn-primary" asp-action="TambahPeminjaman" asp-controller="Peminjaman">
                Tambah Peminjaman
            </a>
        </p>

        @*table*@
        <div class="table-responsive">
            <table class="table" id="table_peminjaman" style="width:100%;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>
                            Aset
                        </th>
                        <th>
                            Peminjam
                        </th>
                        <th>
                            Tanggal Pinjam
                        </th>
                        <th>
                            Tanggal Kembali
                        </th>
                        <th>
                            Jumlah
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Aksi
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>


@*modal*@
<div class="modal fade" id="peminjamanModal" tabindex="-1" aria-labelledby="peminjamanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Peminjaman Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="-1" id="idPeminjaman" />
                    <div class="form-group">
                        <label for="barang_id">ID Aset</label>
                        <input type="number" class="form-control" id="barang_id">
                        <span class="text-danger text-sm-left" id="errorBarang_id"></span>
                    </div>
                    <div class="form-group">
                        <label for="karyawan_id">ID Karyawan</label>
                        <input type="number" class="form-control" id="karyawan_id">
                        <span class="text-danger text-sm-left" id="errorKaryawan_id"></span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_pinjam">Tanggal Pinjam</label>
                        <input type="date" class="form-control" id="tanggal_pinjam">
                        <span class="text-danger text-sm-left" id="errorTanggal_pinjam"></span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_kembali">Tanggal Kembali</label>
                        <input type="date" class="form-control" id="tanggal_kembali">
                        <span class="text-danger text-sm-left" id="errorTanggal_kembali"></span>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number" class="form-control" id="jumlah" min="1">
                        <span class="text-danger text-sm-left" id="errorJumlah"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Update()">Submit</button>
            </div>
        </div>
    </div>
</div>

<style>
    .btn i {
        margin-right: 0px !important;
    }

    th:nth-child(2n) {
        background: #6563c9 !important;
        color: #e3e8fa !important;
    }

    th:nth-child(2n-1) {
        background: #4b49ac !important;
        color: #e3e8fa !important;
    }

    td:nth-child(2n-1) {
        background: #e3e8fa !important;
    }

    th, td {
        text-align: center !important;
    }
</style>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/peminjaman/index.js"></script>
}
