
@{
    ViewData["Title"] = "Peminjaman Aset";
    Layout = "_StaffTemplate";
}

<div class="card shadow">
    <div class="card-body">
        <h3>Peminjaman Aset</h3>
        <div class="my-2">
            <a asp-action="Index" asp-controller="Peminjaman">
                Kembali
            </a>
        </div>

        @*table*@
        <div class="table-responsive">
            <table class="table" id="table_aset">
                <thead>
                    <tr>
                        <th>No</th>

                        <th>
                            Nama Aset
                        </th>
                        <th>
                            Stok
                        </th>
                        <th>
                            Satuan
                        </th>
                        <th>
                            Aksi
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



@*modal*@
<div class="modal fade" id="peminjamanModal" tabindex="-1" aria-labelledby="peminjamanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Peminjaman Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="-1" id="idPeminjaman" />
                    <input type="hidden" value="0" id="barang_id">
                    <div class="form-group">
                        <label for="karyawan_id">ID Karyawan</label>
                        <input type="number" class="form-control" id="karyawan_id">
                        <span class="text-danger text-sm-left" id="errorKaryawan_id"></span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_pinjam">Tanggal Pinjam</label>
                        <input type="date" class="form-control" id="tanggal_pinjam">
                        <span class="text-danger text-sm-left" id="errorTanggal_pinjam"></span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_kembali">Tanggal Kembali</label>
                        <input type="date" class="form-control" id="tanggal_kembali">
                        <span class="text-danger text-sm-left" id="errorTanggal_kembali"></span>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number" class="form-control" id="jumlah" min="1">
                        <span class="text-danger text-sm-left" id="errorJumlah"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/peminjaman/tambah_peminjaman.js"></script>
}