@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Trend HTML Template</title>
    <!--

    DIGITAL TREND

    https://templatemo.com/tm-538-digital-trend

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/landing-page/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/landing-page/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/landing-page/css/aos.css">
    <link rel="stylesheet" href="~/landing-page/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/landing-page/css/owl.theme.default.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/landing-page/css/templatemo-digital-trend.css">
</head>
<body>
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/landing-page/images/devyta-minilogo.svg" width="50" height="50" class="d-inline-block align-top" alt=""> Devyta
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                      <a href="blog.html" class="nav-link">Register</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="@Url.Action("Login","Account")" class="nav-link contact">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- HERO -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">
                        <h1 class="text-white" data-aos="fade-up">Aplikasi pintar untuk solusi manajemen inventaris anda</h1>
                        <a href="@Url.Action("Index","Home")" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Cek disini !</a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/landing-page/images/na_feb_10.jpg" class="img-fluid rounded-circle" alt="working girl">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT -->
    <section class="about section-padding pb-10" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto col-md-10 col-12">
                    <div class="about-info">
                        <h2 class="mb-4" data-aos="fade-up">Beberapa fitur dari <strong>Devyta</strong></h2>
                        <!-- <p class="mb-0" data-aos="fade-up"> <a href="blog.html">blog</a> pages, <a href="project-detail.html">project</a> page, and <a href="contact.html">contact</a> page. <br>
                          <br>You are <strong>allowed</strong> to use this template for commercial or non-commercial purpose. You are NOT allowed to redistribute the template ZIP file on template collection websites.
                        </p> -->
                    </div>
                    <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                        <div class="container">
                            <div class="row m-2">
                                <div class="col-sm-6">
                                    <div class="card py-4 shadow" style="width: 18rem; height: 20rem">
                                        <img class="card-img-top" src="~/landing-page/images/card/user-card.svg" width=100 height=100 alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Managemen User</h5>
                                            <p class="card-text">Atur data pegawai anda dan berikan akses sesuai jobdesk masing-masing.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card py-4 shadow" style="width: 18rem; height: 20rem">
                                        <img class="card-img-top" src="~/landing-page/images/card/riwayat-card.svg" width=100 height=100 alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Riwayat Aset</h5>
                                            <p class="card-text">Aplikasi secara otomatis mencatat semua barang yang masuk dan keluar dari gudang anda. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-sm-6">
                                    <div class="card py-4 shadow" style="width: 18rem; height: 20rem">
                                        <img class="card-img-top" src="~/landing-page/images/card/cares-card.svg" width=100 height=100 alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Rawat Aset Anda</h5>
                                            <p class="card-text">Kelola dan tandai aset anda apabila ada kerusakan.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card py-4 shadow" style="width: 18rem; height: 20rem">
                                        <img class="card-img-top" src="~/landing-page/images/card/asset-card.svg" width=100 height=100 alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Managemen User</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="100"><strong>Devyta</strong></h1>
                    <h5 class="text-white" data-aos="fade-up" data-aos-delay="100">Depot Inventory and Asset Management</h5>
                </div>
                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="my-4">Hubung Kami</h4>
                    <p class="mb-1">
                        <i class="fa fa-phone mr-2 footer-icon"></i> +089669373884
                    </p>
                    <p>
                        <a href="#">
                            <i class="fa fa-envelope mr-2 footer-icon"></i> devyta@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="my-4">Alamat</h4>
                    <p class="mb-1">
                        <i class="fa fa-home mr-2 footer-icon"></i> Jalan Soekrno-Hatta No. 17, Jakarta Timur, Indonesia
                    </p>
                </div>

            </div>
        </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="~/landing-page/js/jquery.min.js"></script>
    <script src="~/landing-page/js/bootstrap.min.js"></script>
    <script src="~/landing-page/js/aos.js"></script>
    <script src="~/landing-page/js/owl.carousel.min.js"></script>
    <script src="~/landing-page/js/smoothscroll.js"></script>
    <script src="~/landing-page/js/custom.js"></script>
    <script src="~/landing-page/js/sweetalert2.all.min.js"></script>
    @*<script>
        Swal.fire({
            title: 'Login Form',
            html: `<input type="text" id="login" class="swal2-input" placeholder="Username">
  <input type="password" id="password" class="swal2-input" placeholder="Password">`,
            confirmButtonText: 'Sign in',
            focusConfirm: false,
            preConfirm: () => {
                const login = Swal.getPopup().querySelector('#login').value
                const password = Swal.getPopup().querySelector('#password').value
                if (!login || !password) {
                    Swal.showValidationMessage(`Please enter login and password`)
                }
                return { login: login, password: password }
            }
        }).then((result) => {
            Swal.fire(`
    Login: ${result.value.login}
    Password: ${result.value.password}
  `.trim())
        })
    </script>*@

</body>
</html>